.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/analytics-frame.html
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/css/output.min.css
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/6GrUdUpuerp.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/6UFJnIyi2MW.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/data.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/frame.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/paths.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/bootstrapper.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/frame.desktop.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/frame.mobile.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/slides.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/desktop.min.css
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile-fonts/open-sans-bold.woff
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile-fonts/open-sans-light.woff
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile-fonts/open-sans-regular.woff
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile.min.css
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/meta.xml
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/5vNLbKInwaM.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/638FSdUm2Bz.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/63SRXoXdNmQ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/6OrPG0hkWI0_X_P_47_0_477_618.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/6VO3OtSbHjJ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5aTCemY02O2.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5dQWCDIsaEx.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5fg3kwGTAsP.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5fieJ6J9hJP.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5k8nGncTdIA.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5oWdbQQaooA.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5XDWLHOjbss.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5XRKxa5fSUv.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6fZTmYjFNH6.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6h1fQ2nnblH.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6M8M7jtqTNi.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6PdZA75EmCs.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6WwA4KiqTGh.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6ZIeEzw0nUc.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5fgBHfAIjvm.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5lX6cJMzRwi.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5qibjXKHPp0.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5W5Z2APNkEh.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5xMoFiapYNs.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5xyc8OiXkCQ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_6AkrYT6Ajmh.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_6BWtMGjsmzJ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story.html
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story_content/frame.xml
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story_content/thumbnail.jpg
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story_content/user.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/analytics-frame.html
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/css/output.min.css
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/6GrUdUpuerp.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/6UFJnIyi2MW.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/data.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/frame.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/data/js/paths.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/bootstrapper.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/frame.desktop.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/frame.mobile.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/scripts/slides.min.js
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/desktop.min.css
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile-fonts/open-sans-bold.woff
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile-fonts/open-sans-light.woff
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile-fonts/open-sans-regular.woff
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/html5/lib/stylesheets/mobile.min.css
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/meta.xml
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/5vNLbKInwaM.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/638FSdUm2Bz.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/63SRXoXdNmQ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/6OrPG0hkWI0_X_P_47_0_477_618.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/6VO3OtSbHjJ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5aTCemY02O2.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5dQWCDIsaEx.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5fg3kwGTAsP.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5fieJ6J9hJP.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5k8nGncTdIA.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5oWdbQQaooA.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5XDWLHOjbss.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape5XRKxa5fSUv.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6fZTmYjFNH6.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6h1fQ2nnblH.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6M8M7jtqTNi.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6PdZA75EmCs.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6WwA4KiqTGh.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/Shape6ZIeEzw0nUc.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5fgBHfAIjvm.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5lX6cJMzRwi.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5qibjXKHPp0.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5W5Z2APNkEh.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5xMoFiapYNs.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_5xyc8OiXkCQ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_6AkrYT6Ajmh.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/mobile/txt__default_6BWtMGjsmzJ.png
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story.html
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story_content/frame.xml
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story_content/thumbnail.jpg
public/actividades/Actividad_didáctica_CF4_T_Manejo y conservación del recurso hídrico - Storyline output/story_content/user.js
*.html
*.css
